@import "tailwindcss";
@import "flowbite/src/themes/default";
/* @plugin "flowbite/plugin";
@source "../node_modules/flowbite"; */
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
